version: '3.7'

services:
  backend:
    build:
      context: src
      dockerfile: Dockerfile-dev
    restart: always
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8080
    volumes:
      - ./src/:/app/
    ports:
      - 8080:8080
    environment:
      - DEBUG=true
      - DATABASE_URL=postgresql://dummy_pg_user:dummy_pg_pwd@db/dummy_pg_db
      - SQLALCHEMY_SILENCE_UBER_WARNING=1
      - SUPERUSER_LOGIN=${SUPERUSER_LOGIN}
      - SUPERUSER_PWD=${SUPERUSER_PWD}
      - BUCKET_NAME=${BUCKET_NAME}
      - BUCKET_MEDIA_FOLDER=${BUCKET_MEDIA_FOLDER}
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_REGION=${S3_REGION}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
      - TELEGRAM_TEST_CHAT_ID=${TELEGRAM_TEST_CHAT_ID}
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:15-alpine
    expose:
      - 5432
    environment:
      - POSTGRES_USER=dummy_pg_user
      - POSTGRES_PASSWORD=dummy_pg_pwd
      - POSTGRES_DB=dummy_pg_db
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U dummy_pg_user -d dummy_pg_db'"]
      interval: 10s
      timeout: 3s
      retries: 3
