version: '3.7'

services:
  backend:
    build: src
    restart: always
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8080
    volumes:
      - ./src/:/app/
    ports:
      - 8080:8080
    environment:
      - DEBUG=false
      - DATABASE_URL=postgresql://dummy_pg_user:dummy_pg_pwd@db/dummy_pg_db
      - SQLALCHEMY_SILENCE_UBER_WARNING=1
      - SUPERUSER_LOGIN=dummy_login
      - SUPERUSER_PWD=dummy&P@ssw0rd!
      - QARNOT_TOKEN=${QARNOT_TOKEN}
      - BUCKET_NAME=${BUCKET_NAME}
      - BUCKET_MEDIA_FOLDER=${BUCKET_MEDIA_FOLDER}
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_REGION=${S3_REGION}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_SERVER_NAME=${SENTRY_SERVER_NAME}
      - TELEGRAM_TOKEN=${TELEGRAM_TOKEN}
    depends_on:
      - db
  db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    expose:
      - 5432
    environment:
      - POSTGRES_USER=dummy_pg_user
      - POSTGRES_PASSWORD=dummy_pg_pwd
      - POSTGRES_DB=dummy_pg_db

volumes:
  postgres_data:
