version: '3.7'

services:
  backend:
    build: src
    restart: always
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8080
    volumes:
      - ./src/:/app/
    ports:
      - 8080:8080
    environment:
      - DEBUG=false
      - DATABASE_URL=postgresql://dummy_pg_user:dummy_pg_pwd@db/dummy_pg_db
      - SUPERUSER_LOGIN=dummy_login
      - SUPERUSER_PWD=dummy_pwd
      - QARNOT_TOKEN=${QARNOT_TOKEN}
      - BUCKET_NAME=${BUCKET_NAME}
      - BUCKET_MEDIA_FOLDER=${BUCKET_MEDIA_FOLDER}
    depends_on:
      - db
  db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=dummy_pg_user
      - POSTGRES_PASSWORD=dummy_pg_pwd
      - POSTGRES_DB=dummy_pg_db
  proxy:
    build: nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend

volumes:
  postgres_data:
