version: '3.7'

services:
  backend:
    build:
      context: src
      dockerfile: Dockerfile-dev
    restart: always
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8080
    volumes:
      - ./src/:/app/
    ports:
      - 8080:8080
    environment:
      - DEBUG=true
      - DATABASE_URL=postgresql://dummy_pg_user:dummy_pg_pwd@db/dummy_pg_db
      - TEST_DATABASE_URL=postgresql://dummy_pg_tuser:dummy_pg_tpwd@db_test/dummy_pg_tdb
      - SUPERUSER_LOGIN=dummy_login
      - SUPERUSER_PWD=dummy&P@ssw0rd!
      - QARNOT_TOKEN=${QARNOT_TOKEN}
      - BUCKET_NAME=${BUCKET_NAME}
      - BUCKET_MEDIA_FOLDER=${BUCKET_MEDIA_FOLDER}
      - S3_ENDPOINT_URL=${S3_ENDPOINT_URL}
      - S3_ACCESS_KEY=${S3_ACCESS_KEY}
      - S3_SECRET_KEY=${S3_SECRET_KEY}
      - S3_REGION=${S3_REGION}
    depends_on:
      - db
  proxy:
    build: nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - backend
  db:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=dummy_pg_user
      - POSTGRES_PASSWORD=dummy_pg_pwd
      - POSTGRES_DB=dummy_pg_db
  db_test:
    image: postgres:12.1-alpine
    volumes:
      - postgres_data_test:/var/lib/postgresql/data_test/
    environment:
      - POSTGRES_USER=dummy_pg_tuser
      - POSTGRES_PASSWORD=dummy_pg_tpwd
      - POSTGRES_DB=dummy_pg_tdb

volumes:
  postgres_data:
  postgres_data_test:
