name: client-package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  pkg-install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Cache python modules
        uses: actions/cache@v2
        env:
          cache-name: client-reqs
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-${{ hashFiles('client/**/*.py') }}
          restore-keys: |
            ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-
            ${{ runner.os }}-deps-${{ env.cache-name }}-
            ${{ runner.os }}-deps-
            ${{ runner.os }}-
      - name: Install package
        run: |
          python -m pip install --upgrade pip
          pip install -e client/

  pkg-test:
    runs-on: ubuntu-latest
    needs: pkg-install
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Cache python modules
        uses: actions/cache@v2
        env:
          cache-name: client-reqs
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-${{ hashFiles('client/**/*.py') }}
          restore-keys: |
            ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-
            ${{ runner.os }}-deps-${{ env.cache-name }}-
            ${{ runner.os }}-deps-
            ${{ runner.os }}-
      - name: Build & run API server
        run: |
          PORT=8002 docker-compose up -d --build
          docker ps
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e client/
          pip install coverage
      - name: Run client unittests
        run: |
          coverage --version
          sleep 5
          cd client && coverage run -m unittest discover test/

  flake8-py3:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Run flake8
        run: |
          pip install flake8
          flake8 --version
          flake8 client/

  mypy-py3:
    runs-on: ubuntu-latest
    needs: pkg-install
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Cache python modules
        uses: actions/cache@v2
        env:
          cache-name: client-reqs
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-${{ hashFiles('client/**/*.py') }}
          restore-keys: |
            ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-
            ${{ runner.os }}-deps-${{ env.cache-name }}-
            ${{ runner.os }}-deps-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e client/ --upgrade
          pip install mypy
      - name: Run mypy
        run: |
          mypy --version
          cd client && mypy --config-file mypy.ini

  docs-build:
    runs-on: ubuntu-latest
    needs: pkg-install
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
          architecture: x64
      - name: Cache python modules
        uses: actions/cache@v2
        env:
          cache-name: client-reqs
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-${{ hashFiles('client/**/*.py') }}
          restore-keys: |
            ${{ runner.os }}-deps-${{ env.cache-name }}-${{ hashFiles('client/requirements.txt') }}-
            ${{ runner.os }}-deps-${{ env.cache-name }}-
            ${{ runner.os }}-deps-
            ${{ runner.os }}-
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e client/ --upgrade
          pip install -r client/docs/requirements.txt

      - name: Build documentation
        run: |
          sphinx-build client/docs/source client/docs/build -a -v
